doctype html
html

  head
    title Restablecer password
    link(rel="stylesheet", href="/styles.css")
    link(rel="icon", type="image/x-icon", href="https://raw.githubusercontent.com/FERNANDOCASTRO04/Agrofer/74b8586b89ec0191ef0648be0c505c9dfbd7c5a5/public/imagenes/logo.png")
    link(integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN", crossorigin="anonymous", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css", rel="stylesheet")

  body
          
    div.text-center
      form(action='/reset-password/#{token}', method='post')
            label(for='password') Nueva Contraseña
            input(type='password', name='password', id='password', required)

            label(for='confirmPassword') Confirmar Contraseña
            input(type='password', name='confirmPassword', id='confirmPassword', required)

            button(type='submit') Restablecer Contraseña

    footer.bg-body-tertiary.text-center.text-lg-start.position-static
      div.text-center.p-3(style="background-color: rgba(0, 0, 0, 0.05);")
        | © 2024 Copyright:
        a.text-body(href="#") Fernando Castro

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js", integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL", crossorigin="anonymous")
    script.
          // JavaScript para desplegar el menú al pasar el cursor por encima
          document.addEventListener('DOMContentLoaded', function() {
            var botonDesplegable = document.getElementById('boton-desplegable');
            var menuDesplegable = document.getElementById('menu-desplegable');

            botonDesplegable.addEventListener('mouseover', function() {
              menuDesplegable.style.display = 'block';
            });

            botonDesplegable.addEventListener('mouseout', function() {
              menuDesplegable.style.display = 'none';
            });
          });
